 *{
    box-sizing: border-box;
    margin: 0;
}  

#wow {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: white;
    -webkit-text-stroke: black 2px;
  }


.quadrato{
    margin-top: 30px;
    font-size: large;
    width: 150px;
    height: 150px;
    background-color:white;
    position: relative;
    animation: movequadrato 1s infinite alternate;
}

@keyframes movequadrato{
    0% {top: 0px; left: 0px;}
    25% {top: 0px; left: 1712px;}
    75%{top: 0px; left: 0px ;}
    100%{top: 0px; left: 0px;}
}


hr{
    margin-top: 50px;
    border-color: orange;
    
    
}


.div-menu{
    font-family: "Bebas Neue", sans-serif;
    background-color: black;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
}

/* Stili per i titoli delle categorie nel menu */
.div-menu .title {
    float: right; /* Allinea a destra */
    color: white; /* Colore del testo */
    text-align: center;
    padding: 14px 16px; /* Spaziatura */
    text-decoration: none; /* Rimuove sottolineatura */
    font-size: 17px; /* Dimensione del testo */
    animation-timing-function: linear;
  }
  
  /* Cambia colore al passaggio del mouse */
  .div-menu .title:hover {
    background-color: #ddd;
    color: black;
  }

  #wow{
    /* margin-top: 10px; */
    text-align: center;
  }

  #sub{
    text-align: center;
  }


  #score {
    color: white;
    text-align: left;
    padding: 14px 16px;
    font-size: 17px;
}
